# 忽略 IDE 配置文件
.idea/               # IntelliJ IDEA
*.iml               # IntelliJ IDEA module files
*.sublime-workspace  # Sublime Text
*.sublime-project    # Sublime Text
.vscode/            # Visual Studio Code
# 忽略logs文件夹下所有日志.txt文件
web/ginadmin/node_modules/
config/config*
logs/*.txt
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log.*
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log.*
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log.*
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log.*
# 忽略logs文件夹下所有以log结尾的文件
logs/*.log.*
# 忽略logs文件夹下所有以log结尾的文件

# 忽略环境文件
web/ginadmin/.env
web/ginadmin/.env.production

__debug_*